<!-- <h1>StaticPages#about</h1>
Find me in app/views/static_pages/about.html.erb 
-->

<div class="header">
	<h1>About</h1>
</div>


<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 list-group" id="about-sidebar">
  <a href="#" class="list-group-item active">About Brand Name</a>
  <a href="" class="list-group-item">Who We Are</a>
  <a href="#" class="list-group-item">Our Products</a>
  <a href="#" class="list-group-item">Learn More</a>

</div><!-- /#about-sidebar -->



<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="about-text">
	<h3>About Brand Name</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie porttitor sapien, ac efficitur magna ultricies non. Sed laoreet sem sapien, a pellentesque elit mollis id. Suspendisse vitae lobortis orci, ac ornare ante. In eu nunc rutrum, molestie nibh ut, fringilla elit. Quisque iaculis odio vitae nisi gravida lobortis. Nulla ac pretium nisl.</p> 
	<p>Morbi et fermentum risus. Praesent ac leo vel dui fermentum rhoncus. Sed dignissim faucibus metus, sed blandit magna consequat nec. Integer fermentum ut diam vitae imperdiet. Sed commodo, nunc id mattis imperdiet, nibh massa venenatis orci, vitae scelerisque tellus est ut nunc.</p>
</div><!-- /#about-text -->

