<!-- <h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
-->

<h1>About</h1>
<h2>Description of this page.</h2>
<p>Etiam mollis, lacus eu mattis commodo, magna sem venenatis libero, sit amet hendrerit mi risus euismod magna. Fusce semper maximus consectetur. Sed ut tristique libero.</p>