<!-- <h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
-->

<h1>Contact</h1>
<h2>Email: example@nameofapp.com</h2>
<h2>Phone: 1-800-APP-NAME</h2>
<p>Please contact us with any questions or comments.</p>