<!-- from 3.8

<h3>StaticPages#index</h3>
<p>Welcome! The date and time is <%= Time.now %></p>
<p>Find me in app/views/static_pages/index.html.erb</p>

-->

<h1>Welcome to Brand Name</h1>
<h2>Your source for whatever this product is!</h2>

<%= image_tag("smoothiethecat008.jpg", class: "img-responsive") %>
