<!-- from 3.8

<h3>StaticPages#index</h3>
<p>Welcome! The date and time is <%= Time.now %></p>
<p>Find me in app/views/static_pages/index.html.erb</p>

-->

<div class="header">
	<h1>Rent-A-Cat</h1>
	<h2>Renting cats just became fun!</h2>
</div>




<%= image_tag("smoothiethecat008.jpg", class: "img-responsive", id: "smoothiethecat008") %>
