<!-- <h1>StaticPages#thank_you</h1>
Find me in app/views/static_pages/thank_you.html.erb
-->

<!-- 5.3 -->

<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p><%= link_to "Return home", root_path %></p>
  </div><!-- / .panel-body -->
</div><!-- / .panel -->

