// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:	Futura, sans-serif;

$primary-color:	#333;


body {
	position: relative;
	padding: 51px 10px 10px 10px;
}

.nav {
	padding-right: 5px;
		a {
		color: red;
		}
}

.projectName a {
	color: white;
}

.footer {
	color: blue;
}

h1, 
h2 {
	font: 100% $font-stack;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

